body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

h1 {
    font-weight: bold;
    margin-top: 60px;
}

nav {
    margin: 0;
    padding: 10px 0 2px 0;
    background-color:#ff3737;
    color:#fff;
    width: 100%;
}

.content {
    padding: 30px;
    width: 400px;
}

@media(max-height: 830px) {
    img {
        width: 100%;
        margin: auto;
    }
    .content {
        padding: 3% !important;
        width: auto !important;
    }
}

a:visited {
    color: blue;
}

nav a, nav a:visited {
    color: #fff;
}

nav a {
    padding-left: 10px;
    vertical-align: middle;
}

.nav {
    margin-top: 5px;
}

.submit {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666 !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-right: 15px;
    margin-top: -40px;
    float: right;
}

.submit:hover {
    background-color:#f6f6f6;
}

.submit:active {
    position:relative;
    top:1px;
}